/* para to sa filtering sa HS Staff */
.ui-autocomplete {
    max-height: 200px;
    padding-right: 1050px; /* Adjust as needed */
    width: 10%; /* I-set ang parehong lapad para sa mga textbox */
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #ddd;
}

.ui-menu-item {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f5f5f5; /* Background color */
    color: #333; /* Text color */
    list-style-type: none;
}

    .ui-menu-item:hover {
        background-color: #ddd; /* Hover background color */
    }


.ui-helper-hidden-accessible {
    /*color: #a2f1d8;*/
    color: white;
}
