table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    height: 25vh;
    background-color: #dddddd;
    min-width:100%;
}

.tablescroll {
    overflow-x: auto; 
    overflow-y: auto; 
    max-height: 400px;
}

    /* Paliitin ang scrollbar */
    .tablescroll::-webkit-scrollbar {
        width: 5px; /* Lapad ng scrollbar */
        height: 5px;
    }

    .tablescroll::-webkit-scrollbar-thumb {
        background-color: gray; /* Kulay ng thumb ng scrollbar */
    }

::-webkit-scrollbar {
    width: 5px; /* Lapad ng scrollbar */
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray; /* Kulay ng thumb ng scrollbar */
}

th, td {
    border: 1px solid #979090;
    padding: 10px;
    text-align: left;
}

td:hover {
    transform: perspective(1000px) rotateY(20deg);
}


td {
    cursor: pointer;
}

    td:hover {
        background-color: #f9f9f9; /* Light gray background on hover */
    }

th[for="JODATE"] {
    background-image: url('../Logo/date.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 24px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 52px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 77px;
}

th[for="Status"] {
    background-image: url('../Logo/status.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 24px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 52px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="Medtech"] {
    background-image: url(../Logo/medtech.png);
    background-repeat: no-repeat;
    background-position: 22px center;
    background-size: 31px;
    padding-left: 63px;
    min-width: 65px;
}

th[for="PatientName"] {
    background-image: url('../Logo/patient.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 31px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 58px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="PatientID"] {
    background-image: url('../Logo/patientid.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 31px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 58px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="JobOrder"] {
    background-image: url('../Logo/joborder.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 31px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 60px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="Tray"] {
    background-image: url('../Logo/tray.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 31px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 60px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="Supplies"] {
    background-image: url('../Logo/Supplies.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 31px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 60px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="Start"] {
    background-image: url('../Logo/Start.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 35px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 61px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="End"] {
    background-image: url('../Logo/End.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 30px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 60px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="Checker"] {
    background-image: url('../Logo/Checker.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 35px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 63px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th[for="DRemarks"] {
    background-image: url('../Logo/Remarks.png'); /* Baguhin ang 'path/to/your/image.png' ayon sa tamang path ng iyong imahe */
    background-repeat: no-repeat; /* Ito ay para hindi ma-repeat ang imahe */
    background-position: 22px center; /* I-adjust ang position ng imahe depende sa iyong layout */
    background-size: 31px; /* Ito ay para magbigay ng size sa iyong imahe */
    padding-left: 62px; /* Dagdag padding sa kaliwa ng button para magbigay ng puwang sa iyong imahe */
    min-width: 65px;
}

th {
    background: #bbbbbb;
}

.JOInfo {
    color: black;
    font-weight: normal;
}

/* Alternate row background color */
tr:nth-child(even) {
    background-color: #fcfcfc;
}

/*th:nth-child(2) { adjust the column base on data
    min-width: 100px; /* Baguhin ang haba base sa iyong preference 
}*/

#table {
    padding: 20px;
}